<<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Costa Rica Weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h2>Scraping Mars</h2>
            <p><a class="btn btn-primary btn-lg" href="/scraper" role="button">Scrape Data</a></p>
        </div>
        <h3>Latest news from Mars</h3>
        <h4>{{ mars.mars_title }}</h4>
        <p>{{ mars.mars_ptext }}</p>
        <br>
        <!-- <h3>Images from Mars</h3> -->
            <!-- <div class="row">
                <div class="col-sm-8">
                    <div class="box">
                        <!-- <img src="{{mars.featured_img_url}}" alt="featured image"/> -->
                        <!-- </div>
                </div> -->
            </div> -->
    </div>
       
</body>
</html>